

body {
    background-color: rgba(0, 0, 0, 1);
    font-size: 24px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
    height: 100px;
}

.links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    flex-grow: 0;
    margin: 0;
    color: #fff;
    background-color: #7A42D9;
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
}

button:hover {
    background-color: #4c2d81;
}

/*        HEADER START        */

.header {
    display:flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.links {
    margin-left: auto;
}

li {
    background-color: #7A42D9;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: ;
}

li:hover {
    background-color: #4c2d81;
    color: #fff;
}

/*        HEADER END        */

/*        BANER START        */

.baner {
    display:flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.baner .left {
    display: flex;
    flex-flow: column;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start ;
    gap: 15px;
    align-items: flex-start;
}

.baner .title {
    font-size: 38px;
    font-weight: bold;
}

.baner .text {
    text-align: left;
    font-family: sans-serif;
}

.baner-img {
    width: 50%;
    height: 50%;
    
}

/*        BANER END        */

/*        MAIN-PART START        */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main-title{
    font-size: 40px;
}

.main-boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 10px;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    text-align: center;
    font-weight: bold;
    margin: 15px;

}

.container-text {
    background-color: #7A42D9;
    color:white;
    flex: 1 0;
    padding: 26px;
    border-radius: 20px;
    max-width: 350px;
    max-height: auto;
    text-align: justify;
    font-family: sans-serif;
}

/*        MAIN-PART START        */

/*        QUOTE START        */

.quote {
    display:flex;
    flex-direction: column;
    margin: 150px;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 40px;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: lightgray;
}

/*        QUOTE END        */

/*        CALL-TO-ACTION START        */

.cta {
    background-image: url(./images/lbaner.png);
    background-size:contain;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: left top;
}

.cta-content {
    display:flex;
    justify-content: space-around;
    background-color: #4c2d81;
    margin: 150px;
    padding: 50px;

}

.cta-header {
    font-weight: bold;
}

/*        CALL-TO-ACTION END        */

/*        FOOTER START        */

.footer {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #2d1a4d;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;

}

/*        FOOTER END        */
